<!DOCTYPE html>
<html>
    <head>
        <title>FOODSIE | MENU</title>
        <meta name="description" contet="this is the description">
        <link rel="stylesheet" href="styles.css">
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li> <a href="index.html">INICIO</a></li>
                    <li> <a href="store">MENU</a></li>
                    <li> <a href="about.html">NOSOTROS</a></li>
                    <li> <a href="pedidos">PEDIDOS</a></li>
                </ul>
            </nav>
            <h1 class="rest-name rest-name-large">FOODSIE</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">PEDIDOS</h2>
                
                    <% pedidos.forEach(function(item) {  %>
                        <div class="pedidos-forms"></div>
                        <div class="cards" data-item-id="<%= item.id %>" >
                        <% item.items.forEach(function(item1) {  %>
                            
                            <span class="pedidos-item" > id = <%= item1.id %>   </span> 
                            <span class="pedidos-item">Cantidad = <%= item1.quantity %></span> 
                            <br>
                            
                        <% }) %>
                        
                        <span class="pedidos-item">Datos usuarios = <%= item.usuario %> </span>
                        <p class="pedidos-item"> Total = $<%= item.total / 100%></p>
                        <center><img class="pedidos-item-image" src="https://i.imgur.com/W2TCe9k.jpg"></center>
                        
                   
                    </div>
                </div>
                
                <% }) %>
            </div>

        </section>

     



        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="rest-name">FOODSIE</h3>
                <ul class="nav footer-nav">
                    <li><img src="Images/YouTube Logo.png"></li>
                    <li><img src="Images/Spotify Logo.png"></li>
                    <li><img src="Images/Facebook Logo.png"></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
    </body>
</html>