<!DOCTYPE html>
<html>
    <head>
        <title>FOODSIE | MENU</title>
        <meta name="description" contet="this is the description">
        <link rel="stylesheet" href="styles.css">
        <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
        <script src="https://checkout.stripe.com/checkout.js" defer></script>
        <script>
            var stripePublicKey = "<%= stripePublicKey %>"
        </script>
        <script src="store.js" defer></script>

    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li> <a href="index.html">INICIO</a></li>
                    <li> <a href="store.html">MENU</a></li>
                    <li> <a href="about.html">NOSOTROS</a></li>
                </ul>
            </nav>
            <h1 class="rest-name rest-name-large">FOODSIE</h1>
        </header>
        
        <section class="container content-section">
            <h2 class="section-header">PLATILLOS</h2>
                <div class="shop-items">

                    <% items.food.forEach(function(item) {  %>
                <div class="shop-item" data-item-id="<%= item.id %>">
                        <span class="shop-item-title"><%= item.name %></span>
                    <img class="shop-item-image" src="Images/<%= item.imgName %>">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$<%= item.price / 100%></span>
                        <button class="btn btn-primary shop-item-button" type="button">AÑADIR A CARRITO <i class="em em-drooling_face" aria-role="presentation" aria-label="DROOLING FACE"></i></button>
                    </div>
                </div>
                <% }) %>
            </div>

        </section>

        <section  class="container content-section">
            <h2  class="section-header">BEBIDAS</h2>

            <div class="shop-items">
                <% items.drinks.forEach(function(item) {  %>
                    <div class="shop-item" data-item-id="<%= item.id %>">
                            <span class="shop-item-title"><%= item.name %></span>
                        <img class="shop-item-image" src="Images/<%= item.imgName %>">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$<%= item.price / 100%></span>
                            <button class="btn btn-primary shop-item-button" type="button">AÑADIR A CARRITO</button>
                        </div>
                    </div>
                    <% }) %>
                
            </div>
        </section>
     



        <section class="container content-section">
            <h2 class="section-header">CARRITO</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">PRODUCTO</span>
                <span class="cart-price cart-header cart-column">PRECIO</span>
                <span class="cart-quantity cart-header cart-column">CANTIDAD</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>

            <button class="btn btn-primary btn-purchase" type="button">PEDIR YA, ¡PERO YA! <i class="em em-scream" aria-role="presentation" aria-label="FACE SCREAMING IN FEAR"></i></button>

            
        </section>


        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="rest-name">FOODSIE</h3>
                <ul class="nav footer-nav">
                    <li><img src="Images/YouTube Logo.png"></li>
                    <li><img src="Images/Spotify Logo.png"></li>
                    <li><img src="Images/Facebook Logo.png"></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
    </body>
</html>